:root {
  --on: linear-gradient(to right, hsl(211, 100%, 50%), hsl(179, 100%, 30%));
  --off: linear-gradient(to top, hsl(344, 100%, 50%), hsl(31, 100%, 40%));
  --toggle-width: 80px;
  --toggle-height: 30px;
}
body {
  background: #333;
}

/* solution styles */
.toggle .switch {
  position: relative;
  left: 50%;
  width: var(--toggle-width);
  height: var(--toggle-height);
  padding: 5px;
  background: var(--off);
  border-radius: 100vw;
  cursor: pointer;
  z-index: 1;
}

.toggle .switch::after {
  position: absolute;
  content: '';
  inset: 0;
  background: var(--on);
  border-radius: 100vw;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.toggle .switch::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  height: var(--toggle-height);
  aspect-ratio: 1;
  background: white;
  border-radius: 100%;
  transition: all ease 0.3s;
}

.toggle input:checked + .switch::after {
  opacity: 1;
}

.toggle input:checked + .switch::before {
  transform: translateX(calc(var(--toggle-width) - var(--toggle-height)));
}
